name: build-release

on:
  workflow_call:
    inputs:
      flutter_version:
        required: false
        default: '3.35.3'
        type: string
      upload_pages_artifact:
        description: 'Upload build artifact for GH pages'
        required: false
        default: false
        type: boolean
      upload_release_artifact:
        description: 'Upload build artifact for GH release'
        required: false
        default: false
        type: boolean

jobs:
  build-artifacts:
    name: Release Client as ${{ matrix.build-type }} (${{ matrix.platform }})
    runs-on: ${{ matrix.os }}

    env:
      APP_NAME: cptclient
      SERVER_SCHEME: https
      SERVER_HOST: cptserver.oberhauser.dev
      SERVER_PORT: 443
      ANDROID_KEYSTORE_B64: ${{ secrets.ANDROID_KEYSTORE }}
      ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
      ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
      ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
    
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: android
            build-type: apk
            suffix: apk
          - os: windows-latest
            platform: windows
            build-type: windows
            suffix: zip
          - os: ubuntu-latest
            platform: linux
            build-type: linux
            suffix: deb
          - os: ubuntu-latest
            platform: web
            build-type: web
            suffix: tar.gz
          - os: macos-14
            platform: macos
            build-type: macos
            suffix: zip
#          - os: macos-14
#            platform: ios
#            build-type: ipa
#            suffix: ???

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter_version }}
          channel: 'stable'
      - name: Create Default Config File
        run: cp cptclient-template.yaml cptclient.yaml
      - uses: actions/setup-java@v4
        if: matrix.platform == 'android'
        with:
          # AGP8 needs JDK 17
          distribution: 'temurin'
          java-version: '17'
      - name: Install Linux Dependencies
        if: matrix.platform == 'linux'
        # Install libunwind-dev, see https://github.com/actions/runner-images/issues/6399#issuecomment-1285011525
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev
          sudo apt-get install -y libunwind-dev
      - name: Install current bash on macOS
        shell: bash
        if: runner.os == 'macOS'
        run: |
          brew install bash
          bash --version
      - name: Build App
        id: build
        shell: bash
        run: |
          ARTIFACT_PATH="build/${{ matrix.platform }}/${{ matrix.build-type }}"
          ARTIFACT_NAME="${APP_NAME}-${{ github.ref_name }}-${{ matrix.platform }}.${{ matrix.suffix }}"
          flutter build ${{ matrix.build-type }} \
            --dart-define=SERVER_SCHEME=$SERVER_SCHEME \
            --dart-define=SERVER_HOST=$SERVER_HOST \
            --dart-define=SERVER_PORT=$SERVER_PORT \
            ${{ matrix.platform == 'web' && '--wasm' || '' }}
          echo "ARTIFACT_PATH=$ARTIFACT_PATH" >> "$GITHUB_ENV"
          echo "ARTIFACT_NAME=$ARTIFACT_NAME" >> "$GITHUB_ENV"
      - name: Upload artifacts to pages
        if: inputs.upload_pages_artifact && matrix.platform == 'web'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/web
      - name: Upload artifacts to release
        # Only upload to GitHub if in build mode.
        if: inputs.upload_release_artifact
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ github.token }}
          file: ${{ steps.build.outputs.artifact-path }}
          asset_name: ${{ steps.build.outputs.artifact-name }}
          tag: ${{ github.ref }}

  deploy-github-pages:
    if: inputs.upload_pages_artifact
    needs:
      - build-artifacts
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4